html {
      scroll-behavior: smooth;
}

body {
      font-family: Roboto, sans-serif;
      margin: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}

.footer {
      display: flex;
      display-content: column;
      padding: 8px 2rem 8px 2rem;
      background-color: #1F2937;
      border-bottom: 1px solid black;   
      color: white;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: rgb(220, 220, 220)
}
/* header */

.header {
      display: flex;
      justify-content: space-between;
      padding: 8px 2rem 8px 2rem;
      background-color: #1F2937;
      border-bottom: 1px solid black;
}

.header-left {
      margin-left: 100px;
      display: flex;
      align-items: center;
      gap: 2em;
}

.header-right{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.secondary-text {
      color: #e5e7eb;
      font-size: 18px;
}

.logo {
      width: 88px;
      height: auto;
}

/* content: greetings */

.greetings-content {
      display: flex;
      flex: 1;
      background-color: #1f2937;
      justify-content: center;
      gap: 4rem;
      padding: 128px;
      align-items: center;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
}

@keyframes gradient {
      0% {
            background-position: 0% 50%;
      }
      50% {
            background-position: 100% 50%;
      }
      100% {
            background-position: 0% 50%;
      }
}

.content-image {
      width: 380px;
      height: auto;
      box-shadow: 5px 10px #888888; 
}

div.polaroid {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 12px 12px 12px 12px;
      border: 1px solid #BFBFBF;
      background-color: white;

}

.caption {
      color: #1f2937;
      font-weight: bold;
      font-size: 24px;
}
    
div.rotate_right {
      float: left;
      transform: rotate(5deg);
}

.button { 
      display: inline-block; 
      padding: 10px 20px; 
      background-color: #3882F6;
      color: #1f2937;
      text-decoration: none;
      border: none; 
      border-radius: 25px; 
      cursor: pointer; 
      transition: background-color 0.3s ease;
} 
     
.button:hover { 
      background: url(../images/menyala-abangkuh.gif);
      color: white;
} 

h1 {
      color: #f9faf8;
      font-size: 48px;
      font-weight: 800;
}

ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      gap: 32px;
      overflow: hidden;
}

li a:hover {
      color: #ef5350;
}
    
li a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      color: #e5e7eb;
}